$color-primary: #111238;
$color-secondary: #fff;
$color-grey-light: #F2F3F6;
$color-button-primary:#1A75E8;
$color-button-hover: $color-button-primary;
$color-tag-primary: #b2b2b2;

$sm: 576px;
$md: 768px;
$lg: 992px;
$xl: 1200px;
$xxl: 1400px;

$m-sm: 576;
$m-md: 768;
$m-lg: 992;
$m-xl: 1200;
$m-xxl: 1400;

$timeTransform: 0.4s;